<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="ROOT_LOG_LEVEL" value="${LOG_LEVEL_ROOT:-INFO}" />
    <property name="APP_LOG_LEVEL" value="${LOG_LEVEL_APP:-INFO}" />
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{requestId:-no-request-id}] %logger{36} - %msg%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.footballmanager" level="${APP_LOG_LEVEL}" />

    <root level="${ROOT_LOG_LEVEL}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
